@model AgeaProject.Areas.Admin.ViewModels.Products.CreateSubCategoryCredentialViewModel

@{
    ViewData["Title"] = "AddPicture";
}

<h1>Add Picture</h1>
<div class="row">
    <div class="col-md-12">
        <h4>@ViewData["CategoryName"]</h4>
        <hr />
        <h5>@ViewData["ProductName"]</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPicture" asp-area="Admin" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Pictures">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
