@model ContactUs
@if (Model is object)
{
    <div class="col-lg-4 col-md-6">
        <div class="footer-logo">
            <a asp-action="Index" asp-controller="Home">
               <img width="200" src="~/images/logoageafiresonc.png" alt="Footer Logo">
            </a>
            <p class="info">
                @Model.Text
            </p>
        </div>
        <ul class="des">
            <li>
                <span>Address: </span>
                @Model.Address
            </li>
            <li>
                <span>Phone: </span>
                <a href="#">@Model.Phone</a>
            </li>
            <li>
                <span>Email: </span>
                <a href="">@Model.Email</a>
            </li>
        </ul>
    </div>
}
