@model CategoryUpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Category</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-7 about-image-wrap">
        <form asp-action="Update" asp-area="Admin" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" placeholder="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" placeholder="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <textarea id="bodyarticle" asp-for="Desc" placeholder="Description" class="form-control"> </textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <input asp-for="Src" value="@Model.Src" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-5 mt-2">
        <div class="text-center">
            <img width="400" height="400" src="~/uploads/@Model.Src" class="rounded" alt="...">
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_AdminValidationPartial");}
    <script>
        CKEDITOR.replace("bodyarticle");
    </script>
}
